<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <figure>
                    <img class="img-responsive" src="myDoc/Logo.jpg" alt="awsome image" />
                </figure>
                <p>Şirketimiz vinç, vinç sistemleri, ray, raylı sistemler imalat, ticaret ve projelendirme
konusunda faaliyet gösteren, konularında uzman kişilerin kurduğu bir sinerji grubudur.</p>
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                        </li>

                        <li>
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3 sec-tab">
                <h2>Hizmetlerimiz</h2>
                <ul class="solutions">
                    <li><a href="#">Ray Montaj ve Uygulama</a></li>
                    <li><a href="#">Ray - Ray Aksesuarları Satış İmalat ve Uygulama</a></li>
                    <li><a href="#">Köprü Portal ve Vinçler</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Önerilen Yazılar</h2>
                <div class="footer-news">
                    <p>
                        Fusce non faucibus lorem. Cras eu velit id diam cursus tincidunt in ut dui. Quisque quis
                        augue placerat.
                        <br>
                        <span>July 12, 2016</span>
                    </p>
                    <p>
                        Fusce non faucibus lorem. Cras eu velit id diam cursus tincidunt in ut dui.
                        <br>
                        <span>July 12, 2016</span>
                    </p>
                    <p>
                        Fusce non faucibus lorem. Cras eu velit id diam cursus tincidunt int.
                        <br>
                        <span>July 12, 2016</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <h2>İletişim:</h2>
                <ul class="contact-info">
                    {{!-- <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="address"> Bristol Town 2578 AGS,<br> New York City</div>
                    </li> --}}
                    <li><i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="address"><span><strong>Telefon:</strong> <a href="tel:+90 216 290 18 34"> +90 216 290 18
                                            34</a> <br> <a href="tel:+90 530 158 89 00"> +90 530 158 89 00</a><br>
                                      
                                    </span></div>
                    </li>
                    {{!-- <li><i class="fa fa-clock-o" aria-hidden="true"></i>
                        <div class="address">Mon to Fri - 08:00 to 16:30 </div>
                    </li> --}}
                    <li><i class="fa fa-envelope" aria-hidden="true"></i>
                        <div class="address"><strong>Mail:</strong><a
                                            href="mailto: info@tsfmakina.com">info@tsfmakina.com</a></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
{{!-- <section class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                <p>Copyright Industrial 2016. All rights reserved</p>
            </div>
            <div class="pull-right">
                <p>Created by: Lamarena</p>
            </div>
        </div>
    </div>
</section> --}}
<a class="scroll-top" href="#"><i class="fa fa-angle-up"></i> </a>
<!-- Scripts -->