<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Industrial</title>
    <meta name="description" content="">
    <meta name="author" content="Laze">

    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- Owl carousel-->
    <link rel="stylesheet" href="css/owl.carousel.css">

    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/style_hero.css">
    <link rel="stylesheet" type="text/css" href="css/hover.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive .css" />

    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>

<body>
    {{>nav}}
    {{{body}}}
    {{>footer}}
    <script src="plugins/jquery.min.js"></script>
    <script src="plugins/owl.carousel.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="plugins/bootstrap.min.js"></script>
    <script src="OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="plugins/waypoints.min.js"></script>
    <script src="plugins/jquery.counterup.min.js"></script>
    <script src="plugins/theme.js"></script>
</body>

</html>