<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Industrial</title>
    <meta name="description" content="">
    <meta name="author" content="Laze">

    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link rel="stylesheet" href="/main/font-awesome/css/font-awesome.min.css">
    <!-- Owl carousel-->
    <link rel="stylesheet" href="/main/css/owl.carousel.css">

    <link rel="stylesheet" href="/main/css/owl.theme.default.css">
    <link rel="stylesheet" href="/main/css/style_hero.css">
    <link rel="stylesheet" type="text/css" href="/main/css/hover.css">
    <link rel="stylesheet" type="text/css" href="/main/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/main/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/main/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/main/css/responsive .css" />
    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/main/favicon.ico">
    <link rel="apple-touch-icon" href="/main/apple-touch-icon.png">
</head>

<body>
    {{>main/nav}}
    {{{body}}}
    {{>main/footer}}
    <script src="/main/plugins/jquery.min.js"></script>
    <script src="/main/plugins/owl.carousel.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="/main/plugins/bootstrap.min.js"></script>
    <script src="/main/plugins/owl.carousel.min.js"></script>
    <script src="/main/plugins/waypoints.min.js"></script>
    <script src="/main/plugins/jquery.counterup.min.js"></script>
    <script src="/main/plugins/theme.js"></script>
    <script src="/main/myDoc/script.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>
    <script src="/main/plugins/bootstrap.min.js"></script>
    <script src="/main/plugins/map-helper.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key= AIzaSyC-AVuzYG1-KEYwHw0gLOmlFX2I2YBzZGw&callback=initMap"
        type="text/javascript"></script>
</body>

</html>