<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="/panel/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="/panel/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/panel/zeroDot/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<script src="/panel/assets/js/vendor/forms/tags/tokenfield.min.js"></script>


	<!-- Core JS files -->
	<script src="/panel/assets/demo/demo_configurator.js"></script>
	<script src="/panel/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="/panel/assets/js/vendor/visualization/d3/d3.min.js"></script>
	<script src="/panel/assets/js/vendor/visualization/d3/d3_tooltip.js"></script>
	<script src="/panel/assets/js/jquery/jquery.min.js"></script>
	<script src="/panel/zeroDot/assets/js/app.js"></script>
	<script src="/panel/assets/demo/pages/dashboard.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/streamgraph.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/sparklines.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/lines.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/areas.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/donuts.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/bars.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/progress.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/heatmaps.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/pies.js"></script>
	<script src="/panel/assets/demo/charts/pages/dashboard/bullets.js"></script>
	<!-- /theme JS files -->

	{{!-- Task Files --}}
	<script src="/panel/assets/demo/pages/task_manager_list.js"></script>

	{{!-- Datatables --}}
	<script src="/panel/assets/js/vendor/tables/datatables/datatables.min.js"></script>
	<script src="/panel/assets/js/vendor/tables/datatables/extensions/natural_sort.js"></script>

	{{!-- Quill --}}
	<script src="/panel/assets/js/vendor/editors/quill/quill.min.js"></script>
	{{!-- Tag --}}
	<script src="/panel/assets/demo/pages/form_tags.js"></script>

</head>

<body>
	{{>panel/nav}}
	{{{body}}}
	{{>panel/footer}}
	<script src="/panel/assets/demo/pages/editor_quill.js"></script>

</body>

</html>