<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/"><img src="/main/myDoc/Logo.jpg" alt="TSF Mühendislik & Makina Logo" /></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="general-info">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>
                                    <span class="add">Sales / Technical support</span>
                                    <br>
                                    <span><strong>Phone:</strong> <a href="tel:+90 216 290 18 34"> +90 216 290 18
                                            34</a> / <a href="tel:+90 530 158 89 00"> +90 530 158 89 00</a><br>
                                        <strong>Address:</strong> <a
                                            href="mailto: info@tsfmakina.com">info@tsfmakina.com</a><br>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <!-- 
                        <li>
                            <div class="icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>
                                    <span class="add">ADDRESS</span>
                                    <br>
                                    <span>20c Factory Street,<br>
                                        Newyork, NY 10205</span>
                                </p>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>


                        <li>
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    </div>
</header>
<section class="main-menu-one finance-navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <nav id="main-navigation-wrapper" class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target="#main-navigation"
                            aria-expanded="false" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="main-navigation" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/en">Home</a>
                            </li>

                            <li><a href="/corporate">Corporate</a>
                            </li>
                            <li><a href="/engineering-machinery">Engineering & Machinery
                                </a>
                                <ul class="dropdown-submenu">
                                    {{#each category}}
                                    <li><a href="/engineering-machinery/{{_id}}">{{categoryNameEN}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                            <li><a href="/services">Services</a>
                            </li>
                            <li><a href="/questions">questions</a>
                            </li>
                            <li><a href="/dictionary">Dictionary</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-3">
                <div class="button-wraper pull-left">
                    <div class="button" >
                        <a class="hvr-bounce-to-right" href="/contact">Contact</a>
                    </div>
                </div>
                <div class="button-wraper pull-left" >
                    <div class="button">
                        <a class="hvr-bounce-to-right" style="margin-left:0;background:#04192b2e;" href="/">Türkçe</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>