<section class="header-title">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Contact</h2>
            </div>
        </div>
    </div>
</section>

<section class="contact_us-second">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12">
                <header>
                    <h2>Contact Us</h2>
                    <p>
                        We are here to communicate with TSF Engineering Machinery! We will be happy to answer your questions and offer the best solution for your needs. You can fill in the boxes below to contact our team that prioritizes customer satisfaction.
                    </p>
                </header>
                <form action="#" method="POST" class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-grp">
                                <label>Name</label>
                                <input id="name" placeholder="Name" type="text" name="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-grp">
                                <label>Email</label>
                                <input id="email" placeholder="Email" type="text" name="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-grp">
                                <label>Phone Number</label>
                                <input id="phone" type="text" placeholder="Phone Number" name="phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-grp">
                                <label>Subject</label>
                                <select class="form-control select">
                                <option selected disabled>Subject</option>
                                <option>Rail</option>
                                <option>Crane</option>
                                <option>Other</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-grp">
                                <label>Message</label>
                                <textarea class="form-control" cols="40" rows="5" placeholder="Message"
                                    id="inputComments"></textarea>

                            </div>

                        </div>
                        <button class="btn btn-default hvr-bounce-to-right" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 keep-in">
                <header>
                    <h2>Social Media</h2>
                </header>

                <ul class="social-icons">
                    <li>
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <div class="contact-box">
                    <h2>Location</h2>

                    <div class="address-box">
                        <div class="icon-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>

                        <p class="address-text">
                            TSF Engineering Machinery
                        </p>
                    </div>
                    <div class="address-box">
                        <div class="icon-box">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>

                        <p class="address-text">
                            <a href="tel:+90 216 290 18 34"> +90 216 290 18
                                            34</a> / <a href="tel:+90 530 158 89 00"> +90 530 158 89 00</a>
                        </p>
                    </div>
                    <div class="address-box">
                        <div class="icon-box">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>

                        <p class="address-text">
                            <a
                                            href="mailto: info@tsfmakina.com">info@tsfmakina.com</a>
                        </p>
                    </div>
                    <div class="address-box">
                        <div class="icon-box">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>

                        <p class="address-text">
                            Monday to Saturday: 09.00 - 18.00
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
<section class="map-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="contact-google-map" data-map-lat="33.958372" data-map-lng="-118.341827" data-map-zoom="12"
                    data-icon-path="img/map-marker.png" data-map-title="Hanoi"
                    data-markers="{&quot;marker-1&quot;: [33.958372, -118.341827, &quot;&lt;h4&gt;Main Head Office&lt;/h4&gt;&lt;p&gt;31 South Australia&lt;/p&gt;&quot;],		&quot;marker-2&quot;: [-38.021469, 145.118023, &quot;&lt;h4&gt;Branch Office&lt;/h4&gt;&lt;p&gt;31 Main Boulevar 33154&lt;/p&gt;&quot;]		}"
                    class="google-map"></div>

            </div>
        </div>
    </div>

</section>