<section class="header-title">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Kurumsal</h2>
            </div>
        </div>
    </div>
</section>

<section class="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="big-image">
                    <img src="main/img/about.jpg" alt="awsome image">
                </div>
                <div class="small-images">
                    <div class="one"><img src="main/img/about-small.jpg" alt="awsome image" /></div>
                    <div class="two"><img src="main/img/about-small.jpg" alt="awsome image" /></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h2>TSF Hakkında</h2>
                </div>
                <p>Şirketimiz vinç, vinç sistemleri, ray, raylı sistemler imalat, ticaret ve projelendirme konusunda
                    faaliyet gösteren, konularında uzman kişilerin kurduğu bir sinerji grubudur.</p>
                <ul>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                        Yüklenici, alt yüklenici veya Proje sorumlusu olduğumuz, öne çıkan projeler ;<br><span
                            class="small">ERDEMİR-Ereğli Demir ve Çelik Fabrikaları T.A.Ş<br>
                            125+25 TON ÇİFT KİRİŞ KÖPRÜ VİNÇ<br>
                            75+25 TON ÇİFT KİRİŞ KÖPRÜ VİNÇ modernizasyonu <br>
                            40 TON PORTAL VİNÇ ( 4 Adet ) <br>
                            İSDEMİR-İskenderun Demir ve Çelik Fabrikaları T.A.Ş <br>
                            75+25 TON ÇİFT KİRİŞ KÖPRÜ VİNÇ modernizasyon ( 2 Adet ) <br>
                            NOVA LIPETSK ( RUSYA ) <br>
                            40+10 TON ÇİFT KİRİŞ KÖPRÜ VİNÇ ( 4 Adet ) <br>
                            10 TON YARI PORTAL VİNÇ <br>
                            UNIVERS ACIER ( FAS ) <br>
                            125+30 TON ÇİFT KİRİŞ KÖPRÜ VİNÇ ( 4 Adet ) <br>
                            40 TON ÇİFT KİRİŞ KÖPRÜ revizyon ( 4 Adet ) <br>
                            CVS MAKİNA İns. San. Tic. Ltd. Şti. <br>
                            5 TON JIP CRANE ( PERGEL VİNÇ ) <br>
                            ASİL ÇELİK A.Ş. <br>
                            10 ve 5 TON ÇİFT KİRİŞ KÖPRÜ VİNÇ ( 2 Adet )</span> </li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i>RAY UYGULAMALARI ;<br> <span class="small">DANIELLI RUSYA LIPETSK GALVENİZ HATTI  ( A65  600 metre )<br>
 	RMK KOÇ TERSANESİ - Tuzla -  İSTANBUL  ( S49  600 metre ) <br>
 	FORD OTOSAN - Gölcük -  KOCAELİ  ( A75  200 metre ) <br>
 	ASSAN ALÜMİNYUM - Tuzla -  İSTANBUL  ( A65  300 metre ) <br>
 	ASSAN PORT - İskenderun -  HATAY  ( A120  650 metre ) <br>
 	LİMAK PORT - İskenderun -  HATAY  ( A120  1100 metre ) <br>
 	KMC STEEL CENTER - Gebze - KOCAELİ ( Çeşitli kuturlarda 400 m. ) <br>
 	ARKAS PORT - Ambarlı -  İSTANBUL  ( A120  600 metre ) <br>
 	MİP Mersin uluslararası limanı - MERSİN  ( 100X100-C4132  200 metre ) <br>
 	ETİ BOR TESİSLERİ - Kırka - ESKİŞEHİR  ( A65  470 metre ) <br>
 	 	ÖZTAŞ İnşaat, İnşaat Malzemeleri. A.Ş <br>
 	BAĞFAŞ - Bandırma - BALIKESİR  ( A100  400 metre ) <br>
 	BOTAŞ - LNG Tesisleri - TEKİRDAĞ  ( A45  80 metre ) <br>
 	İÇDAŞ - Biga  -  ÇANAKKALE  ( Çeşitli  metrajlar ) <br>
 	UNIVERS ACIER - Kazablanka  -  FAS  ( Çeşitli  3000 metre ) <br>
 	MED STEEL - Şam  -  SURİYE  ( Çeşitli  1000 metre ) <br>
 	ABUDABI CABLE - Abudabi  -  BİRLEŞİK ARAP EMİRLİKLERİ  ( Çeşitli  1800 metre ) <br>
 	CINER, ÖZTAŞ, EREN ENERJİ, PARK ENERJİ, ALSTOM, ………. KÜTÜK MERMER, ASİL ÇELİK ……</span> </li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section class="why-choose-us-third">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-box"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <h4>Dünya Çapında Hizmet</h4>
                    <p>TSF Mühendislik Makina, dünya genelinde lider ray ve vinç çözümleri sağlayıcısıdır. Uluslararası projelerde güçlü bir varlıkla, müşterilerimize güvenilir ürünler sunuyoruz. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-box"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <h4>Hızlı Teslimat</h4>
                    <p>İş süreçlerinizi kesintisiz devam ettirmeniz için hızlı teslimat ilkesiyle çalışıyoruz. Geniş ürün yelpazemizle, siparişlerinizi en kısa sürede teslim etmek için hazırız.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-box"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                    <h4>Güvenilir Müşteri Hizmetleri</h4>
                    <p>Müşteri memnuniyetine odaklanan uzman ekibimiz, sizinle işbirliği yaparak ihtiyaçlarınıza hızlı ve etkili çözümler sunar. Sorularınıza hızlı yanıtlarla rehberlik ediyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Kadromuz</h2>
                </div>

            </div>
            <div class="members">
                <div class="col-md-3">
                    <div class="member">
                        <figure>
                            <img src="main/img/member1.jpg" alt="awsome image" />
                        </figure>
                        <div class="author-info">
                            <h4>George Simons</h4>
                            <p>
                                Ceo &amp; Managing Director
                            </p>
                            <ul>
                                <li>
                                    Tel: 800-700-6202
                                </li>
                                <li>
                                    Mail: simons@industrial.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member">
                        <figure>
                            <img src="main/img/member2.jpg" alt="awsome image" />
                        </figure>
                        <div class="author-info">
                            <h4>Lisa Jones </h4>
                            <p>Adviser &amp; Business Developer</p>
                            <ul>
                                <li>Tel: 800-700-6202</li>
                                <li>Mail: simons@industrial.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member">
                        <figure>
                            <img src="main/img/member3.jpg" alt="awsome image" />
                        </figure>
                        <div class="author-info">
                            <h4>George Simons</h4>
                            <p>Cheif Engineer</p>
                            <ul>
                                <li>Tel: 800-700-6202</li>
                                <li>Mail: simons@industrial.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member">
                        <figure>
                            <img src="main/img/member4.jpg" alt="awsome image" />
                        </figure>
                        <div class="author-info">
                            <h4>George Simons</h4>
                            <p>Cheif Engineer</p>
                            <ul>
                                <li>Tel: 800-700-6202</li>
                                <li>Mail: simons@industrial.com</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<section class="achivment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Ödüllerimiz</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="about-us-our-partners" class="owl-carousel owl-theme">
                    <div class="item-partner">
                        <div class="image">
                            <img class="img-responsive" src="main/img/certificate1.jpg" alt="Nutrition Photo">
                        </div>

                    </div>
                    <div class="item-partner">
                        <div class="image">
                            <img class="img-responsive" src="main/img/certificate2.jpg" alt="Nutrition Photo">
                        </div>

                    </div>
                    <div class="item-partner">
                        <div class="image">
                            <img class="img-responsive" src="main/img/certificate3.jpg" alt="Nutrition Photo">
                        </div>

                    </div>
                    <div class="item-partner">
                        <div class="image">
                            <img class="img-responsive" src="main/img/certificate4.jpg" alt="Nutrition Photo">
                        </div>

                    </div>
                    <div class="item-partner">
                        <div class="image">
                            <img class="img-responsive" src="main/img/certificate3.jpg" alt="Nutrition Photo">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>