<!-- /panel content -->
<div class="content-wrapper">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0">
                        Sözlük - <span class="fw-normal">Yeni Kelime</span>
                    </h4>

                    
                </div>

                
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">

            <!-- Task manager table -->
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Yeni Kelime</h5>
                </div>

                <div class="card-body">
                    <p class="mb-4">Yeni kelime eklemek için aşağıdaki formu doldurunuz..</p>

                    <div class="mb-4">
                        <form action="/admin/sozluk/kelimeler/newWord" method="POST">

                            <div class="fw-bold border-bottom pb-2 mb-3">Kelime Bilgileri</div>

                            <!-- Default input -->
                            <div class="row mb-3">
                                <label class="col-form-label col-lg-3">Kelime</label>
                                <div class="col-lg-9">
                                    <input type="text" name="wordName" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label col-lg-3">Dil</label>
                                <div class="col-lg-9">
                                    <select class="form-select" name="language">
                                        <option disabled selected>Dil Seçiniz</option>
                                        <option value="TR">Türkçe</option>
                                        <option value="EN">İngilizce</option>
                                        <option value="AR">Arapça</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label col-lg-3">Meta Tag</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="wordMetaTag" placeholder="Tagler arasına virgül koyunuz.">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label col-lg-3">Meta Description</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="wordMetaDesc"
                                        placeholder="Meta Açıklaması.">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="border-top">
                                    <div class="quill-full" id="wordDesc">
                                    </div>
                                     <input type="hidden" name="wordDesc" id="quillText">
                                </div>
                            </div>

                            <div class="text-end">
                                <button type="button" onclick="submitFormsss();" class="btn btn-primary">Oluştur<i
                                        class="ph-paper-plane-tilt ms-2"></i></button>
                            </div>
                        </form>
                        <!-- /default input -->

                    </div>
                </div>
            </div>
            <!-- /task manager table -->

        </div>
        <!-- /content area -->



    </div>
    <!-- /inner content -->

</div>
<!-- //panel content -->